body {
	background: pink;
}

h1 {
	margin: 0;
	font-family: hobo std, georgia, gotham, arial, helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 120px;
	line-height: 1.5;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: rgba(255, 152, 62, .5);
}
