body {
	background: pink;
	margin: 0;
}

img,
video,
iframe {
	max-width: 100%;
	height: auto;
}


.container {
	width: 90%;
	margin: 0 auto;
	max-width: 760px;
}

.clear {
	overflow: hidden;
}

.masthead {
	background: #D2BEFA;
	font-family: hobo std, georgia, arial, helvetica, sans-serif;
}

/*
	Masthead shows up at the top of the page and includes the nav
*/

h1 {
	margin: 0;
	font-family: hobo std, georgia, arial, helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: .1em;
	text-transform: normal;
	color: rgba(255, 152, 62, .5);
}

h2 {
	font-family: hobo std, georgia, arial, helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 15px;
	text-transform: none;
}

.nav {
	padding: 0;
	list-style: none;
}

.nav li {
	display: block;
}

.nav a {
	display: block;
	position: relative;
	padding: 1em;
	background: pink;
	transition: all 1s ease-out;
}

.nav a:hover {
	color: #E6FABE;
	background: #D2BEFA;
	transition-duration: .3s;
}

.nav a:after {
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 0%;
	height: 5px;
	background: #BEFAF0;
	transition: all .3s ease-in;
}

.nav a:hover:after {
	width: 100%;
}

.nav.center {
	text-align: center;
}

@media (min-width: 500px){
		.nav.fit {
			display: table;
			width: 100%;
	}

	.nav.fit li {
		display: table-cell;
	}

	.nav.fit a {
		display: block;
	}
}

.main-content {
	background: white;
}

@media (min-width: 500px) {
	.main-content {
		float: left;
		width: 60%;
		margin-left: 20%;
	}

.nav .active a:link,
.nav .active a:active,
.nav .active a:visited {
	color: #fff;
}

.sub-content {
	background: pink;
	float: left;
	width: 20%;
	margin-left: -80%;
}

.thrid-content {
	float: left;
	width: 20%;
	font-size: 12px;
}
